// Place all the styles related to the pull_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#form_container {
  margin-top: 100px;
}

.help-text {
  padding-left: 15px;
}

#pr_table {
  margin-top: 60px;
}